<!DOCTYPE html>
<html>
<head>
    <title>Skill - View All</title>
</head>
<style>
    div.notification {
        width: 100%;
        text-align: center;
        padding: .2em;
        color: SlateGray;
    }

    div.notification.success {
        background-color: LightGreen;
    }

    div.notification.error {
        background-color: LightCoral;
    }
</style>
<body>
    <h1>Skills</h1>
    <%
    if (locals.noti)
    {
        var noti_text = "Success! Skill '" + locals.skill_name + "' " + locals.noti + "!";
        var type = "";
        if (locals.noti === "err") {
            noti_text = "Error! Skill not deleted!\nError message: " + locals.skill_name + "";
            type=" error";
        } else {
            type=" success";
        }
    %>
    <div class="notification<%= type %>" id="notification"><%= noti_text %></div>
    <% } %>
    <a href="/skill/add" >
        Add Skill
    </a>
    <br />
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <% for(var i = 0; i < skill.length; i++) {%>
            <tr>
                <td><%= skill[i].skill_name %></td>
                <td><%= skill[i].description %></td>
                <td>
                    <a href="/skill/edit/?skill_id=<%= skill[i].skill_id %>">Edit</a>
                    <a href="/skill/delete/?skill_id=<%= skill[i].skill_id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>