<!DOCTYPE html>
<html>
<head>
    <title>School - Edit</title>
</head>
<body>
<h1>Edit School</h1>
<form action="/school/update" method="get">
    <input
            type="hidden"
            id="school_id"
            name="school_id"
            value="<%= school.school_id %>"
    />
    School Name: <input
            name="school_name"
            type="text"
            value="<%= school.school_name %>"
    />
    <br />
    Address:
    <select name="address_id">
        <%for (var i = 0; i < address.length; i++) {
            var selected = "";
            if(address[i].address_id == school.address_id) {selected="selected"; console.log(selected);} else {console.log(address[i].address_id); console.log(school.address_id);}
             %>
            <option id="<%= address[i].address_id %>" value="<%= address[i].address_id %>" <%= selected %>><%= address[i].street + ", " + address[i].zip_code %></option>
        <% } %>
    </select>
    <br />
    <input type="submit" />

</form>
</body>
</html>